.html,body{
    height: 100vh;
    margin: 0%;
}

.container{
    width: 200px;
    margin: 0 auto;
    padding: 4px;
    background-color:rgb(199, 186, 169);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.titulo-login{
    color: #614f4f;
    font-size: 24px;
    margin-bottom: 7px;
    align-self: center;
}

.img-login{
    display: flex;
    margin: 0 auto;
    border: #614f4f solid 2px;
    border-radius: 500px;
}

.email, .password{
    padding-top: 10px;
    text-align: left; 
}

table,tr,th,td {
    width: 10%;
    border: 3px solid #614f4f;
    margin-top: 20px;
}

.cabecalho{
    background-color: #fbf7f7;
    color: rgb(12, 12, 12);
    height: 50px;
    text-align: center;
    padding: 20px;
    list-style: none;
}

ul,li{
    list-style: none;
    display: inline-block;
    margin-right: 2px;
    text-decoration: none;
    color: inherit;
}